@model SDQuizMaker.Models.tbtanswer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbtanswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbtquestion.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbtquestion.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TAnswerID }) |
    @Html.ActionLink("Back to List", "GetAnswersIndex")
</p>
