@model IEnumerable<SDQuizMaker.Models.tbuser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,
    new { @style = "color:black;", @class = "btn btn-default btn-sml" })
</p>
<table class="table">
    <tr>
        <th>
            UserID
        </th>
        <th>
            ProfilePic
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        @if ((string)Session["ProfilePic"] != null)
        {
            <td>
                <img src="@Url.Content(item.ProfilePic)" class="img-thumbnail" height="100" width="100" />
            </td>
        }
        else
        {
            <td>
                <img class="img-thumbnail" src="http://53percent.com/images/noimg.gif" height="300" width="150" />
            </td>


        }
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
