<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        .navpic {
            margin: -15px 0 -30px 0px; /* play with these to position the image */
            position: absolute;
            z-index: 100;
            height: 100px;
            width: 190px;
        }
    </style>
    <div class="navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm hidden-xs hidden-md" href="/Home/Index">
                    <img class="navpic" src="~/Images/robertsoncollege-logo.png" />
                </a>
                <a class="navbar-brand hidden-lg hidden-xl" href="/Home/Index">
                    <img class="navpic" src="~/Images/robertsoncollege-logo.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @if ((string)Session["Accesslevel"] == "Admin")
                    {
                    <li>@Html.ActionLink("Profile","Profile","User")</li>
                    <li>@Html.ActionLink("Logout","Logout","Login")</li>
                    <li>@Html.ActionLink("Quiz Create", "Index", "Template")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">                          
                            <li>@Html.ActionLink("Intakes","Index","Intake")</li>
                            <li>@Html.ActionLink("Users","Index","User")</li>
                            <li>@Html.ActionLink("Programs","Index","Program")</li>
                            <li>@Html.ActionLink("Issue Quiz","Index","tbinstances")</li>
                            <li>@Html.ActionLink("IAnswer","Index","tbianswers")</li>
                            <li>@Html.ActionLink("IQuestion","Index","tbiquestions")</li>
                            <li>@Html.ActionLink("Response","Index","tbresponses")</li>
                            <li>@Html.ActionLink("ResponseDetail","Index","tbresponsedetails")</li>
                        </ul>
                    </li>
                    }
                    else if ((string)Session["AccessLevel"] == "Student")
                    {
                        <li>@Html.ActionLink("Profile", "Profile", "User")</li>
                        <li>@Html.ActionLink("Logout","Logout","Login")</li>
                    }
                    else
                    {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login","Index","Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
