@model SDQuizMaker.Models.Login

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .loginbox {
        height: 200px;
        width: 400px;
        padding: 10px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 3px 13px -4px;
    }

    .emailLbl {
        margin-top: 20px;
        margin-left: 20px;
    }

    .passwordLbl {
        margin-top: 20px;
        margin-left: 20px;
    }

    .button {
        align-content: center;
        text-align: center;
        margin-top: 15px;
    }

    .buttonc {
        background-color: firebrick;
        border: none;
        color: #ffffff;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
        border: thin #b33b3b 1px;
        text-decoration: none;
    }

    .Login {
        width: 400px;
        margin-left: -11px;
        margin-right: -10px;
        margin-top: -12px;
        text-align: center;
        font-size: x-large;
        color: white;
        background-color: firebrick;
        box-shadow: 0px 3px 13px -4px;
    }

    .txtBox {
        margin-top: 15px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="loginbox">
        <table>
            <tr>
                <td colspan="2">
                    <div class="Login">Login</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="emailLbl">
                        @Html.Label("Email")
                    </div>
                </td>
                <td>
                    <div class="txtBox">
                        @Html.ValidationSummary(true)
                        @Html.TextBoxFor(m => m.Email, new { @required = "required" })

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="passwordLbl">
                        @Html.Label("Password")
                    </div>
                </td>
                <td>
                    <div class="txtBox">
                        @Html.ValidationSummary(true)
                        @Html.PasswordFor(m => m.Password, new { @required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button"><input type="submit" class="buttonc" value="Login" /></div>
                </td>
            </tr>
        </table>
    </div>
}



