@model SDQuizMaker.Models.Login

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .loginbox
    {
        height:200px;
        width:400px;
        padding:10px;
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
        border:solid;

    }
    .topbar
    {
        width:380px;
        height:50px;
        background-color:firebrick;
        align-content:center;
        margin-left:-10px;
        margin-right:-10px;
        
    }
    .Login
    {
        width:394px;
        margin-left:-11px;
        margin-right:-10px;
        margin-top:-11px;
        text-align:center;
        font-size:x-large;
        color:white;
        background-color:firebrick;
    }


  
</style>
@using (Html.BeginForm())
{
<div class="loginbox">
    <table>
        <tr>
            <td>
                <div class="Login">Login</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>@Html.Label("Email")                   
                    @Html.ValidationSummary(true)
                    @Html.TextBoxFor(m => m.Email, new { @required = "required" })
                </div>           
            </td>        
        </tr>
        <tr>
            <td>
                <div>
                @Html.Label("Password")
                @Html.ValidationSummary(true)
                @Html.PasswordFor(m => m.Password, new { @required = "required" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div><input type="submit" value="Login" /></div>
            </td>
        </tr>
    </table>
</div>
}
    


