@model IEnumerable<SDQuizMaker.Models.tbresponse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbinstance.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbuser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbinstance.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbuser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResponseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResponseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseID })
        </td>
    </tr>
}

</table>
