@model SDQuizMaker.Models.tbinstance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbinstance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbintake.ClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbintake.ClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbuser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbuser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
