@model IEnumerable<SDQuizMaker.Models.tbinstance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Title{
        text-align:center;
        font-size:xx-large;
        font-weight:bolder;
        margin-top: 50px;
        color:firebrick;
    }
    .Button{
        margin-left: 507px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
</style>

<h2 class="Title">Issued Quizzes</h2>

<p class="Button">
    @Html.ActionLink("Issue New Quiz", "Create", null,
    new { @style = "color:white;background-color:red;font-weight:bolder;", @class = "btn btn-default btn-sml" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TemplateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbintake.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbintake.ClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstanceID })
        </td>
    </tr>
}

</table>
