@model IEnumerable<SDQuizMaker.Models.tbtquestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Title{
        text-align:center;
        font-size:xx-large;
        font-weight:bolder;
        margin-top: 50px;
        color:firebrick;
    }
    .Button{
        margin-left: 390px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .Button2{
        margin-left: 600px;
        margin-top: -59px;
        margin-bottom: 25px;
    }
</style>

<h2 class="Title">Template Questions</h2>

<p class="Button">
    @Html.ActionLink("Create New Question", "Create", null,
    new { @style = "color:white;background-color:red;font-weight:bolder;", @class = "btn btn-default btn-sml" })
</p>

<p class="Button2">
    @Html.ActionLink("Back to Templates", "Index", "Template", null,
    new { @style = "color:white;background-color:red;font-weight:bolder;", @class = "btn btn-default btn-sml" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbtemplate.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explanation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbtemplate.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TQuestionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TQuestionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TQuestionID }) |
                @Html.ActionLink("Answers", "GetAnswersIndex", "TAnswer", new { id = item.TQuestionID }, null)
            </td>
        </tr>
    }

</table>


